
.positioning_Absolute_Bottom_Right
{
	position: fixed; 
	right: 5px; 
	bottom: 5px
}

.positioning_Absolute_Center
{
	position: absolute; 
	right: auto; 
	left: auto;
	top: auto;
	bottom: auto;
	width: 100%;
	height: 100%;
}

.positioning_Float_Left
{
	float:left;
	overflow:hidden;
}

.positioning_Float_Right
{
	float:right;
	overflow:hidden;
}

